* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #0f1135;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.btn-primary {
  margin-top: 10px;
}

.bg-white {
    background-color: #0B2D71 !important;
    border: none !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: #fff !important;
}

.bg-light {
    margin-top: auto; 
    background-color: #0B2D71 !important;
}

footer .text-center a {
    color: #fff !important;
}

.home-h1 {
    color: #1657D9;
    text-align: center;
    
}

.btn-custom-azulescuro1 {
    background-color: #07082B;
    color: white;
}

table {
    color: #fff !important;
    text-align: center;
}

thead {
    background-color: #0B2D71;
}

td, th {
    border: 1px solid #fff;

}