html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #0f1135;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.btn-primary {
  margin-top: 10px;
}