@model JobHub.Models.Vaga

@{
    ViewData["Title"] = "CreateVaga";
}

<h1>Dados da vaga</h1>


<hr />
<div class="container">
    <form asp-action="CreateVaga">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-4">
        
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            
            </div>
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Skills" class="control-label"></label>
                <input asp-for="Skills" class="form-control" />
                <span asp-validation-for="Skills" class="text-danger"></span>
               
            </div>
            </div>
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Empresa" class="control-label"></label>
                <input asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
               
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Local" class="control-label"></label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FormaDeTrabalho" class="control-label">Presencial/Remoto</label>
                    <select asp-for="FormaDeTrabalho" class="form-control">
                        <option selected disabled>Selecione uma opção</option>
                        <option value="Presencial">Presencial</option>
                        <option value="Hibrido">Híbrido</option>
                        <option value="Remoto">Remoto</option>
                    </select>
                    <span asp-validation-for="FormaDeTrabalho" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Nivel" class="control-label">Senioridade</label>
                <select asp-for="Nivel" class="form-control">
                    <option selected disabled>Selecione um nível</option>
                    <option value="Estágio">Estágio</option>
                    <option value="Junior">Junior</option>
                    <option value="Pleno">Pleno</option>
                    <option value="Senior">Senior</option>
                </select>
                <span asp-validation-for="Nivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label">Especialidade</label>
                <select asp-for="CategoriaId" asp-items="ViewBag.Categorias" class="form-control">
                    <option selected disabled>Selecione uma especialidade</option>
                </select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
             
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>

            </div>

        </form>
    </div>


<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
